extends layout

block content
  section    
    div.new-todo-wrapper
      form(name='saved', id="new-form", method="post", accept-charset='utf-8' )
        input(name='content',  class='new-input', autofocus="autofocus")
        input(type='hidden', name='lid', value='#{lid}')
        .btn-wrapper
          -if(title=='index')
            #publishBtn.toolBtn Save
          .toolBtn(id="timeBtn", onclick="showDeadlines();") Time
          .toolBtn(id="notesBtn", onclick="showComments();") Notes
    form(name='saved-form', method='post', class='todoList', accept-charset='utf-8')
      each todo in todos
        div.todo-wrapper(id="#{todo.order}", class="#{todo._id}")
          if(todo.status=='unfinished')
            textarea(onchange="updateTodo('#{lid}', '#{todo._id}', value, name);", name="content", class="entryText", accept-charset="utf-8") #{todo.content}
          else
            textarea(onchange="updateTodo('#{lid}', '#{todo._id}', value, name);", name="content", class="entryText todoFinished", accept-charset="utf-8") #{todo.content}
          textarea(onchange="updateTodo('#{lid}', '#{todo._id}', value, name);", name="comment", class="commentText", accept-charset="utf-8") #{todo.comment}
          input(type="text", onchange="updateTodo('#{lid}', '#{todo._id}', value, name);", name="deadline", class="deadlineText widget", value="#{todo.deadline}", accept-charset="utf-8")
          .deadlineHelper
          .tool-box
            if(todo.status=='unfinished')
              .statusBtn(onclick='updateStatus("#{lid}", "#{todo._id}", "#{todo.status}");') &#9744;
            else
              .statusBtn(onclick='updateStatus("#{lid}", "#{todo._id}", "#{todo.status}");') &#9745;
            .commentBtn N
            .deadlineBtn T
            .deleteBtn(onclick="deleteTodo('#{lid}', '#{todo._id}');") &#10006;
          
  script.
    $(document).ready(function(){
      if ($.cookie("showComments") === "no") {
        $('#notesBtn').css("color", "#9abb94");
      }
      if ($.cookie("showDeadlines") === "no") {
        $('#timeBtn').css("color", "#9abb94");
      }

      setupTodo();
      $(".todoList > div").tsort({order: "asc", attr:"id"});
      var tids = [];
      var new_position = 0;
      $(".todoList").sortable({
      axis: "y",
      update : function(){
            new_position = $(".todoList").sortable("toArray");
            var tidss = [];
            $(".todo-wrapper").each(function(){
              tidss.push($(this).attr("class").split(" ")[1]);
            });
            updateOrder("#{lid}", tidss,  new_position);
        }
      });
      $(".todoList").disableSelection();

      $("#new-form").submit(function(event){
        event.preventDefault();
        var obj = $(this).serializeObject();
        var order = 0;
        var tid = 0;
        $(".todo-wrapper").each(function(){
            var ord = parseInt(this.id);
            var ti = parseInt($(this).attr("class").split(" ")[1]);
            if(ord > order){
                order = ord;
            }
            if(ti > tid){
                tid = ti;
            }
        });
        order = order + 1;
        tid = tid + 1;

        if ($(".todo-wrapper").length < 30){
          createTodo(obj.lid, tid, order, obj.content);
        }
        else{
          alert("Number of todo's exceeded!");
        }
      });
    });